$icomoon-font-path: "fonts" !default;

$icon-hamburger: "\e900";
$icon-options: "\e635";
$icon-pin: "\e62f";
$icon-un-pin: "\e630";
$icon-add-remove: "\e62d";
$icon-locate: "\e62e";
$icon-info: "\e62c";
$icon-search: "\e62b";
$icon-report: "\e61b";
$icon-plus: "\e61c";
$icon-minus: "\e61d";
$icon-add: "\e61e";
$icon-remove: "\e61f";
$icon-add-solid: "\e636";
$icon-minus-solid: "\e637";
$icon-cross-circle-solid: "\e638";
$icon-clear: "\e618";
$icon-close: "\e605";
$icon-edit: "\e609";
$icon-trash: "\e611";
$icon-share: "\e61a";
$icon-filter: "\e60b";
$icon-filter-remove: "\e631";
$icon-cross: "\e606";
$icon-tick: "\e610";
$icon-star: "\e619";
$icon-bolt: "\e616";
$icon-histogram: "\e632";
$icon-folder: "\e617";
$icon-add-folder: "\e633";
$icon-table: "\e615";
$icon-add-selection: "\e600";
$icon-chevron-up: "\e604";
$icon-chevron-down: "\e601";
$icon-chevron-right: "\e603";
$icon-chevron-left: "\e602";
$icon-up: "\e613";
$icon-down: "\e607";
$icon-left: "\e60d";
$icon-right: "\e60f";
$icon-hidden: "\e60a";
$icon-layers: "\e60c";
$icon-locked: "\e60e";
$icon-unlocked: "\e612";
$icon-visible: "\e614";
$icon-drag: "\e608";
$icon-checkbox-checked: "\e620";
$icon-checkbox: "\e621";
$icon-saved-view: "\e634";
$icon-share-alt: "\e901";
$icon-warning: "\e902";
$icon-face-happy: "\e903";
$icon-face-neutral: "\e904";
$icon-face-sad: "\e905";
$icon-email: "\e906";

